APP_HOSTNAME=https://localhost
BACKEND_PORT=5001
FRONTEND_PORT=5173

POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=music_room
POSTGRES_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}"

EMAIL_USER=changeme
EMAIL_PASSWORD=changeme